body {
    background-color: #fff;
    color: 000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    
}
.card {
    text-align: center;
    width: 900px;
    height: 700px;
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    font-family: Helvetica, sans-serif;
  }
  
  /* .wrapper {
    margin: 2rem auto;
    width: 250px;
    font-size: small;
  } */
  
  .title {
    text-align: center;
    color: #1b1b1b;
  }
  
  #wa{
    color:#5a5a5a
  }

  .heading {
    font-weight: bold;
    /* letter-spacing: 7px; */
    font-size: 2rem;
    position: relative;
    margin-bottom: 6px;
  }
  
  .heading::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #e8e8e8;
    z-index: -1;
    filter: blur(50px);
    height: 50px;
  }
  
  .color {
    padding: 40px 100px;
    /* width: 500px;
    height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .hex {
    text-align: end;
    font-family: monospace;
    text-transform: uppercase;
  }
  
  .black {
    background: var(--black);
    color: var(--ch-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
  }
  
  .eerie-black {
    margin-left: 25%;
    background: var(--ch-white);
    color: var(--ch-black);
    width: 200px;
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }

  .chinese-black {
    background: var(--eer-black);
    color: var(--ch-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
  }
  
  .night-rider {
    background: var(--night-rider);
    color: var(--ch-white);
  }
  
  .chinese-white {
    background: var(--ch-white);
    color: var(--night-rider);
  }
  
  .anti-flash-white {
    background: var(--af-white);
    color: var(--night-rider);
  }
  
  .white {
    background: var(--white);
    color: var(--night-rider);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .border {
    color: var(--night-rider);
    padding: 10px 10px;
    text-align: center;
  }
  
  .border span {
    border-radius: 5px;
    color: var(--ch-white);
    padding: 2px 4px;
    background-color: var(--night-rider);
  }

@keyframes slideInLeft {
    from {
        transform: translateX(-700px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes colorChange {
    0% {
        color: white;
    }

    100% {
        color: blueviolet;
        /* Change the color to your preferred choice */
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(250px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes slideInTop {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
header {
    background-color: #1a1a1a;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    /* Center the navigation links horizontally */
    align-items: center;
    /* Center the navigation vertically */
}

.head {
    margin-top: 200px;
    text-align: center;

}

.head2 {

    text-align: center;

}


.q1 {
    font-size: 4vw;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

.navv {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin-left: 100px;
}

.navv:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: blueviolet;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.navv:hover:after {
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Animation Styles */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;

}



.key-input {
    margin: 20px;
    width: 300px;
    height: 25px;
}


.footer {
    background-color: #1a1a1a;
    /* Background color for the footer */
    color: #fff;
    /* Text color */
    padding: 20px;
    /* Padding around the content in the footer */
    text-align: center;
    /* Center-align the content */
    font-size: 14px;
    /* Font size for the text */
}

.footer a {
    color: #fff;
    /* Link color within the footer */
    text-decoration: none;
    /* Remove underlines from links */
}

.footer a:hover {
    text-decoration: underline;
    /* Add underlines to links on hover */
}

.key {
    color: white;
    transition: all 2s ease;
}

.key.blue {
    color: blueviolet;
}

@media (max-width: 768px) {
    body {
        background-color: #1a1a1a;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .navv {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-icon:hover {
        color: blueviolet;
    }

    ul {
        display: none;
        width: 100%;
    }

    ul.active {
        display: flex;
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }

    .head {
        margin-top: 40px;
        /* margin-left: 20px; */
        /* margin-bottom: 200px; */

    }

    .q1 {
        font-size: 10vw;
    }

    .head2 {

        margin-left: 20px;

    }

    .head3 {

        margin-left: 20px;

    }

    .head4 {

        margin-left: 20px;

    }
}